.text-center {
  text-align: center;
}

.mx-auto {
  margin: auto;
}

.m-w-30 {
  max-width: 30vw;
}
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.item-center {
  align-items: center;
}

.row input {
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px ;
}
